@font-face {
    font-family: GeistRegular;
    src: url("public/Geist/Geist-Regular.otf");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: GeistBold;
    src: url("public/Geist/Geist-Bold.otf");
    font-style: normal;
    font-display: swap;
}

* {
    font-family: GeistRegular;
}

h1 {
    font-family: GeistBold;
}