.contentGrid {
  display: grid;
  grid-template-columns: 0.3fr [center] 1fr [end] 0.3fr;
  grid-auto-rows: auto;
  row-gap: 3rem;
}

.contentArea {
  grid-column: center / end;
  padding: 3rem;
}

.contentArea button,
h3 {
  all: unset;
}

.features {
  display: flex;
  padding: 2rem;
  gap: 1rem;
}

.featuresDescription {
  color: var(--color-subtext);
}
