.contentGrid {
  display: grid;
  grid-template-columns: 0.3fr [center] 1fr [end] 0.3fr;
  grid-auto-rows: auto;
  row-gap: 3rem;
}

.contentArea {
  grid-column: center / end;
  background-color: white;
  padding: 3rem;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 10px var(--black-a2);
}

.contentArea button,
h3 {
  all: unset;
}

.gettingStartedRoot {
  width: 100%;
  border-radius: 2%;
  background-color: aliceblue;
}

.gettingStartedItem {
  overflow: hidden;
  margin-top: 1px;
}

.features {
  display: flex;
  padding: 2rem;
  gap: 1rem;
}

.featuresDescription {
  color: var(--black-a8);
}
