@font-face {
  font-family: GeistRegular;
  src: url("public/Geist/Geist-Regular.otf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GeistBold;
  src: url("public/Geist/Geist-Bold.otf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GeistSemiBold;
  src: url("public/Geist/Geist-SemiBold.otf");
  font-style: normal;
  font-display: swap;
}

* {
  font-family: GeistRegular;
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}