/* supporting colours are those for drawring attention to the user */
/* Green for Positve */
/* Yeelow Orange for warning */
/* Red for danger */
/* Blue for neutral informational messages */

/* https://github.com/gskril/web3-starter/tree/main/src/styles */

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  min-width: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--color-page-background);
}
