/* supporting colours are those for drawring attention to the user */
/* Green for Positve */
/* Yeelow Orange for warning */
/* Red for danger */
/* Blue for neutral informational messages */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--black-a1);
}