@import "@radix-ui/colors/blue.css";

.pageHeadings {
  padding-bottom: 2em;
}

.pageTitle {
  padding-bottom: 1rem;
}

.subPages {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
}

.SeparatorRoot[data-orientation="vertical"] {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 1px;
  background-color: var(--blue-6);
}

.subPages a {
  color: black;
}

.subPages a.active {
  color: var(--blue-10);
}

