.subNavSeparate[data-orientation="vertical"] {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 1px;
  background-color: var(--color-interactive-border);
}

.subNavLink,
.subNavButton {
  all: unset;
}

.subNavLinkActive {
  color: var(--color-primary);
}

.subNavLinkPending {
  color: var(--color-secondary);
}
