.subNavSeparate[data-orientation="vertical"] {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 1px;
  background-color: var(--blue-6);
}

.subNavLink,
.subNavButton {
  color: var(--black-a11);
  all: unset;
  /* padding: 0.5rem; */
}

.subNavLinkActive {
  color: var(--blue-9);
}

.subNavLinkPending {
  color: var(--blue-9);
}
