.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.navbarParentPages {
  padding: var(--mantine-spacing-lg);
  text-decoration: none;
  font-weight: 500;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  border-radius: var(--mantine-radius-sm);
  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    font-size: 1.1em;
    transition: font-size 250ms;
  }
  transition: font-size 250ms;
  transition-delay: 150ms;
  font-size: 1em;
}

.navbarParentPages .icon {
  transition: transform 250ms;
}

.navbarParentPages:hover .icon {
  transform: rotate(90deg);
  transition: transform 250ms;
}

.navbarChildPages {
  width: 100%;
  border-radius: var(--mantine-radius-md);
  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  }
}