@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/amber.css";

/* Dark Theme variations */
@import "@radix-ui/colors/blue-dark-alpha.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/amber-dark.css";

body {
  --color-primary: var(--blue-a9);
  --color-secondary: var(--slate-2);
  --color-page-background: var(--slate-1);
  --color-content-background: var(--slate-3);
  --color-content-border: var(--slate-6);
  --color-hover-state: var(--blue-a10);
  --color-click-state: var(--slate-5);
  --color-uninteractive-border: var(--slate-6);
  --color-interactive-border: var(--slate-8);
  --color-text: var(--slate-12);
  --color-subtext: var(--slate-11);
  --color-error: var(--tomato-12);
  --color-success: var(--green-9);
  --color-warning: var(--amber-12);
}