.homeLayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100%;
    background-color: #fff;
    color: #444;
}

.welcomeMessage {
    /* justify-content: space-between; */
    grid-column: 1 / 3;
    grid-row: 1;
    padding: 6rem;
    height: 4rem;
    color: var(--blue-10);    
    font-weight: 900;
    font-size: 4em;
}