.Card {
  border: 1px;
  border-style: solid;
  border-color: var(--gray-7);
  border-radius: 0.5rem;
}

.CardContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
