.Card {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--color-content-background);
  border: 1px;
  border-style: solid;
  border-color: var(--color-content-border);
  border-radius: 0.5rem;
}